$primary-color: #d8651a;
$primary-color-btn: #ff7c22;
$secondary-color: #eba168;
$text-color: #a2a1a7;
$overlay-color: #f5d9c8a8       ; 
$text-color-deep: #1f1f26;
$bg-color: #f7f8fd;

// M I X I N 's
@mixin btns{
    // padding: 0.6em 1.2em;
    width: 3em;
    outline: none;
    border: none;
    background: transparent;
    color: $primary-color;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;

    &:hover{
        color: $secondary-color;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:  Open Sans;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .nav{
        display: flex;
        position: relative;
        padding: 1em 13em 2em;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        &::after{
            position: absolute;
            content: '';
            background-color: $text-color;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 50%;
            right: 0;
            transform: translateX(-50%);
        }

        &__left{
            display: flex;
            align-items: center;
        }

        &__title{
            color: $text-color-deep;
            font-size: 1.2em;
            padding-right: 1.5em;
        }

        &__menu{
            display: flex;

            &__item{
                color: $text-color;
                list-style: none;
                padding-right: 1.5em;
            }
        }

        &__icons{
            display: flex;
            align-items: center;
            position: relative;

            i{
                cursor: pointer;
            }
        }

        &__profile{
            width: 100%;
            padding-left: 3em;
            transition: 1s;
            img{
                width: 2.5em;
            }
            :hover{
                border: 1px solid $primary-color;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    } 

    .cart__menu{
        visibility: hidden;
        position: absolute;
        top: 140%;
        right: -50%;
        background: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        z-index: 1;

        .show__menu{
            visibility: visible;
        }
        &--title{
            position: relative;
            text-align: left;
            padding: 1rem;

            &::after{
                content: '';
                background-color: whitesmoke;
                width: 100%;
                height: 1.5px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        &__info{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 1rem;
            width: 300px;

            &__img{
                width: 2.5rem;
                border-radius: 3px;
                margin-right: 00.8rem;

                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }

            &__text{
                color: $text-color;
                text-align: left;

                p{
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                &__flexy{
                    display: flex;
                    justify-content: space-between;

                    strong{
                        color: $text-color-deep;
                    }
                }
            }
        }

        &__btn{
            width: 100%;
            margin: 1rem 0 0.5rem 0;

            &--btn{
                @include btns;
                background-color: $primary-color-btn;
                color: white;
                width: 100%;
                padding: 0 2em;
                border-radius: 5px;
                align-items: center;
                text-align: center;
                font-size: 0.8rem;
                padding: 1em 5em;
                transition: .5s;

                    &:hover{
                        background-color: $secondary-color;
                        color: $bg-color;
                    }
            }
        }
    }

// C O N T E N T   ---   S E C T I O N

    .content{
        display: flex;
        position: relative;
        margin: 5em 6em;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);

        &__img{
            justify-content: center;
            &__main{
                width: 23.5rem;
                margin-bottom: 1em;

                img{
                    width: 100%;
                    border-radius: 15px;
                }
            }
            &__subs{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &__sub{
                    position: relative;
                    width: 4.5rem;
                    margin: 0 0.6em;
                    margin-left: 0;
                    margin-right: 0;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: .5s;

                    &:hover::after{
                        content: '';
                        background: $overlay-color;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        border-radius: 7px;
                        border: 2px solid $primary-color;
                        position: absolute;
                    }
                    

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }

// T H E  -|-  I N F O
        &__info{
            margin-left: 6em;
            width: 29em;

            &__title{
                margin-bottom: 1.2em;

                &--h5{
                color: $primary-color;
                letter-spacing: 2px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 1em 0 0.5em 0;
                }

                &--h2{
                    color: $text-color-deep;
                    font-size: 2.2rem;
                    font-weight: 600;
                    line-height: 1.2;
                }
            }

            &__p{
                color: $text-color;
                margin-bottom: 1em;
                font-size: 0.9rem;
                font-weight: 500;
            }
            
            &__number{
                display: flex;
                width: 22em;
                justify-content: space-between;
                align-items: center;
                
                &__btn{
                    display: flex;
                    background: $bg-color;
                    height: 2.5em;
                    align-items: center;
                    border-radius: 5px;


                    &--increase{
                        @include btns
                    }

                    &--p{
                        width: 2em;
                        font-size: 0.9rem;
                        font-weight: 700;
                        text-align: center;
                    }

                    &--decrease{
                        @include btns
                    }
                }

                &__add-to-cart{
                    justify-content: space-between;

                    
                    &--btn {
                        @include btns;
                        background-color: $primary-color-btn;
                        color: white;
                        width: 100%;
                        padding: 0 2em;
                        border-radius: 5px;
                        align-items: center;
                        text-align: center;
                        font-size: 0.8rem;
                        padding: 1em 5em;
                        box-shadow: $secondary-color 0px 4px 16px 0px;
                        transition: .5s;

                        &:hover{
                            background-color: $secondary-color;
                            color: $bg-color;
                        }

                        &i {
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }

    .content__info__price{
        display: flex;
        flex-wrap: wrap;
        width: 10em;
        align-items: center;
        line-height: 1.5;
        margin-bottom: 1.5em;

        &--current{
            font-weight: 700;
            font-size: 1.4rem;
            margin-right: 1em;
        }

        &--percent{
            background: $bg-color;
            color: $primary-color;
            font-size: 0.75rem;
            font-weight: bolder;
            text-align: center;
            text-align: center;
            padding: 0.3em .6em;
            border-radius: 5px;
            
        }
        &--old{
            text-decoration: line-through;
            color: $text-color;
            font-size: 0.9rem;
            font-weight: 600;
        }
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: rgba(11, 11, 11, 0.8);
        visibility: hidden;

        &__popup{
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            position: absolute;

            &__close-btn{
                text-align: right;
                margin: .8rem 0;
                cursor: pointer;

                path{
                    fill: $bg-color;
                }
                &:hover{
                    path{
                        fill: $primary-color;
                    }
                }
            }

            &__img{
                width: 27rem;

                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }

            &__subs{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &__sub{
                    // position: absolute;
                    width: 5rem;
                    margin: 1.5rem 1.5rem 0 0;

                    &:last-child{
                        margin-right: 0;
                    }
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }
            }
        }

    }
}



